version: 2.4.{build}

#---------------------------------#
#    environment configuration    #
#---------------------------------#

# Build worker image (VM template)
image: Visual Studio 2022

# scripts that are called at very beginning, before repo cloning
init:
  - git config --global core.autocrlf input

# setting up etc\hosts file
hosts:
  queue-server: 127.0.0.1
  db.server.com: 127.0.0.2

# enable patching of AssemblyInfo.cs files
assembly_info:
  patch: true
  file: AssemblyInfo.cs 
  assembly_version: '{version}'
  assembly_file_version: '{version}'
  assembly_informational_version: '{version}'

dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '{version}'
  package_version: '{version}'
  assembly_version: '{version}'
  file_version: '{version}'
  informational_version: '{version}'


# Automatically register private account and/or project AppVeyor NuGet feeds.
nuget:
  account_feed: true
  disable_publish_on_pr: true     

#---------------------------------#
#       build configuration       #
#---------------------------------#

# build Configuration, i.e. Debug, Release, etc.
configuration: Release

build:
  parallel: true                  # enable MSBuild parallel builds
  project: Sendwithus/SendwithusClient.sln      # path to Visual Studio solution or project
  verbosity: normal

# scripts to run before build
before_build:
  - dotnet restore Sendwithus

# scripts to run *after* solution is built and *before* automatic packaging occurs (web apps, NuGet packages, Azure Cloud Services)
before_package:

# scripts to run after build
after_build:
  dotnet pack Sendwithus/SendwithusClient/SendwithusClient.csproj

artifacts:
  - path: '**/*.nupkg'

deploy:
 - provider: NuGet
   api_key:
    secure: KZ/+GmlR0cfUu9CbM2PA5fHws0oVbcazW/KlGBc1aXKgdoKjqO4n4qIS87e8q2Kr
   artifact: /.*\.nupkg/
   on:
     branch: master

# scripts to run before deployment
before_deploy:

# scripts to run after deployment
after_deploy:

# to run your custom scripts instead of provider deployments
deploy_script:
  
#---------------------------------#
#         notifications           #
#---------------------------------#
  
notifications:
